<%
locals.body_class = "s01";
locals.title = "Search by zip or city";
 %>

<a class="share" href="#" onclick="FB.ui(fb.dialogs.feedFinder())">Share</a>
<form method="get" action="/s">
	<input type="text" name="slocation" />
	<button>Search</button>
</form>
