<%
locals.body_class = "s02";
locals.title = "Search results";
%>

<form action=""><input type="text" id="slocation" name="slocation" value="<%= slocation %>" placeholder="Adresse, PLZ oder Ort" /> <button>Suche</button></form>
<div id="map_container"> 
	<div id="locations_list">
    <ul id="sidebar">
      <!-- fix entry 
      <li>
          <strong>Abholung des Velos bei Ihnen</strong>
          Kosten 10.- CHF <br/>
          Nehmen Sie mit uns Kontakt auf! 031 979 70 70
      </li>-->
			 <%
			 	for ( i = 0; i < locations.length; i++ ) {
			 %>
		 		<li onclick="click_on_location(markers[<%= i %>])">
					<strong><%= locations[i].name %></strong>
					<%= locations[i].address %><br />
					<%= locations[i].zip + ' ' + locations[i].city %>
				</li>
			 <%
			 	}
			 %>
		</ul>
	</div>
	<div id="map"></div>
</div>

<a id="goto_3" href="/03"></a>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script type="text/javascript">
  var searched_geo = new google.maps.LatLng(<%= searched_geo.lat %>, <%= searched_geo.lng %>);

  function popup(loc) {

    var result = '';

    result += '<strong>' + loc.name + '</strong>' + '<br/>';
    result += loc.address + ', ' + loc.zip + ' ' + loc.city + '<br/>';
    result += loc.open + '<br/>';
    result += loc.contact + '<br/>';

    //free text
    result += '<div class="info">' + loc.text + '</div>';

    return result; 
  
  }

  var neighborhoods = [
	 <%
	 	for ( i = 0; i < locations.length; i++ ) {
	 %>		
	  	{ point: new google.maps.LatLng( <%= locations[i].loc.lat %>, <%= locations[i].loc.lng %> ),
	  	  address: "<%= locations[i].address + ', ' + locations[i].zip + ', ' + locations[i].city %>",
	  	  name: "<%= locations[i].name %>",
        popup: popup(<%- JSON.stringify(locations[i]) %>),
        pinColor: "<%= locations[i].pinColor %>"
	  	},
	<%
	 	}
	 %>
  ];

  var markers = [];
  var iterator = 0;

  var map;

  function initialize_map() {
    var mapOptions = {
      zoom: <%= zoom %>,
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      center: searched_geo
    };

    map = new google.maps.Map(document.getElementById("map"), mapOptions);

 	add_markers();
  }

  function add_markers() {
    for (var i = 0; i < neighborhoods.length; i++) {
  	  // give a nice effect by adding one marker after the other
      setTimeout(function() { add_marker(); }, i * 30);
    }
  }

  // only one active info window
  var infowindow = new google.maps.InfoWindow();
  function add_marker() {

    var pinColor = neighborhoods[iterator].pinColor;

    if (!pinColor) {
      //default to red
      pinColor = "FE7569";
    }

    var pinImage = new google.maps.MarkerImage("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|" + pinColor,
        new google.maps.Size(21, 34),
        new google.maps.Point(0,0),
        new google.maps.Point(10, 34));
    var pinShadow = new google.maps.MarkerImage("http://chart.apis.google.com/chart?chst=d_map_pin_shadow",
        new google.maps.Size(40, 37),
        new google.maps.Point(0, 0),
        new google.maps.Point(12, 35));

  	var marker = new google.maps.Marker({
      position: neighborhoods[iterator].point,
      map: map,
      draggable: false,
      title: neighborhoods[iterator].name,
      icon: pinImage,
      shadow: pinShadow
    });

    markers.push(marker);

	// on click show the infowindow
	google.maps.event.addListener(marker, 'click', (function(marker, i) {
		return function() {
		  infowindow.close();

      var n = neighborhoods[i]; //neighbour

      infowindow.setContent('<div class="bubble" >' + n.popup + '</div>');
			
		  infowindow.open(map, marker);
		}
	})(marker, iterator));

    iterator++;
  }

  var click_on_location = function(marker) {
	  google.maps.event.trigger(marker, 'click');
	  map.setCenter(marker.getPosition());
  }

  $(function () {
    initialize_map();
  });

</script>
