<%
locals.body_class = "s04";
locals.title = "";
 %>

<script>
  $(function () {
    app.donation_methods();
  });
</script>


<div id="infoText" style="display: none">
  <div class="text">
  <h1>Informationen zu Ihrer Spende</h1>

  <h2>Sicherheit und Datenschutz</h2>
  <ul>
    <li>Paypal garantiert eine sichere Übermittlung Ihrer Spende. Ein Paypal-Konto muss für eine Spende vorhanden sein oder kann während der Spende erstellt werden.</li>
    <li>Velos für Afrika behandelt Ihre Daten vertraulich und gibt sie nicht an Dritte weiter. Ihr Name, E-Mail und Adresse werden zu keinem Zeitpunkt an Facebook übermittelt.</li>
  </ul>

  <h2>Abrechnung</h2>
  <ul>
    <li>Der Spendenbetrag liegt bei minimal CHF 1.-. Wir freuen uns über jede Spende, egal welchen Betrags.</li>
    <li>Die Spende wird entweder über Ihre Kreditkarte abgerechnet oder direkt Ihrem Paypal-Konto belastet.</li>
    <li>Abzüglich einer Kommission für die Dienste von Paypal gehen 100% der Spende an Velos für Afrika.</li>
  </ul>

  <h2>Verlässlicher Betrieb und Qualitätssicherung</h2>
  <ul>
    <li>Auf Wunsch senden wir Ihnen eine Spendenbestätigung. Sie erhalten zudem eine Bestätigung Ihrer Spende per Mail direkt von Paypal.
    <li>Technische Abwicklung: 6 Grad GmbH - www.6grad.ch 
  </ul>

  <h2>Hilfe, Fragen oder doch lieber einen Einzahlungsschein</h2>
  <p> Haben Sie Fragen zu Ihrer Facebook-Spende? Oder möchten Sie eine Spende per Einzahlunsschein ausführen? Nehmen Sie mit uns Kontakt auf!</p>
  <p>
    Tel.: 031 979 70 70<br/>
    E-Mail: info@gump-drathesel.ch<br/>
  </p>
  <p>
    Gump- & Drahtesel<br/>
    Recycling-Werkstätten<br/>
    Waldeggstrasse 27<br/>
    3097 Liebefeld<br/>
  </p>
  </div>
</div>

<div id="header"></div>
<div id="middle">
	<img id="top-left" src="https://s3-eu-west-1.amazonaws.com/b4a/04_picture.jpg" />
	<div id="top-right">
		<input type="radio" value="50" name="donationvalue" id="radio50" /><label for="radio50">CHF 50.&#8211;</label> <br />
		<input type="radio" value="100" name="donationvalue" id="radio100" /><label for="radio100">CHF 100.&#8211;</label> <br />
		<input type="radio" value="text" name="donationvalue" id="radiovalue" checked="true"/><label for="radiovalue">CHF</label> <input type="text" placeholder="Betrag" value="" id="inputdonationvalue" /> <img src="04_bike.png" id="bike" />
		<br /><br />
		<input type="checkbox" name="confirmation" id="confirmation" /><label for="confirmation" id="confirmationlabel">Ich wünsche eine Spendenbestätigung</label> 
	</div>
	<div style="clear:both"></div>
</div>
<div class="breakline"></div>

<div id="confirmationid">
	<form id="confirmationform" method="POST" action="/paypal">
		<input type="text" id="vorname" name="info[vorname]" placeholder="Vorname" value=""/>
		<input type="text" id="name" name="info[name]" placeholder="Name" value=""/>
		<input type="text" id="plz" name="info[plz]" placeholder="PLZ" value=""/>
		<input type="text" id="ort" name="info[ort]" placeholder="Ort" value=""/>
		<input type="text" id="email" name="info[email]" placeholder="E-Mail" value=""/>
		<div style="clear:both"></div>
		<input type="checkbox" name="info[agree]" id="agree" /><label for="agree" id="agreelabel">Ja, ich bin damit einverstanden, dass Velos für Afrika mich künftig per E-Mail<br />über seine Arbeit informiert und auf Spendenmöglichkeiten hinweist.</label> 
	</form>
	<div class="breakline"></div>
</div>

<div id="footer">

  <div id="footerleft">Die Spende wird über eine sichere Verbindung mit Paypal abgewickelt.</div>
  
  <form action="/paypal" target='_blank' method="post">
    <input type="hidden" name="amount" value="1.00">
    <input type="hidden" name="info">
		<input type="image" src="https://www.paypalobjects.com/de_DE/CH/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="Jetzt einfach, schnell und sicher online bezahlen ֠mit PayPal.">
  </form>

</div>

<div id="info" onclick="$6.dialog($('#infoText').html())">
  <p>Weitere Infos zum Ablauf der Spende</p>
  <img src="/info.png"/>
</div>
