<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Spende<%= locals.title ? ' - ' + title : '' %></title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css?v=1.0">
    <script src="js/lib/modernizr.custom.js"></script>
    <script src="js/lib/jquery.1.7.2.min.js"></script>
    <script>
      Modernizr.load({
        test: Modernizr.placeholder,
        nope: 'js/lib/jquery.placeholder.min.js',
        complete: function () {
          if (!Modernizr.placeholder) {
            $('input').placeholder();
          }
        }
      })
    </script>
  </head>
  <body>
    <div id="fb-root"></div>
    <div id="dialog">
      <div id="dialog-inner"></div>
    </div>

    <div class="container <%= locals.body_class || '' %>">
      <%- body %>
    </div>
    <script src="js/main.js?v=1.0"></script>
    <script src="/fybrid.js"></script>
    <script src="js/lib/prettyCheckboxes.js"></script>
    <script src="js/6.js"></script>
  </body>
</html>
