<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Paypal Loader</title>
    <script>
      function submitForm() {
        var form = document.getElementById('form');
        form.submit();
      }
    </script>
  </head>
  <body onload='submitForm();'>
    <p>Loading...</p>
    <form id="form" action="https://www.paypal.com/cgi-bin/webscr" method="post" style="display: none;">
    <input type="hidden" name="charset" value="utf-8">
    <input type="hidden" name="return" value="<%= returnUrl %>">
		<input type="hidden" name="rm" value="2">
		<input type="hidden" name="cmd" value="_donations">
		<input type="hidden" name="business" value="paypal@velosfuerafrika.ch">
		<input type="hidden" name="lc" value="CH">
		<input type="hidden" name="item_name" value="Velos für Afrika">
    <input type="hidden" name="amount" value="<%= amount %>">
		<input type="hidden" name="currency_code" value="CHF">
		<input type="hidden" name="no_note" value="0">
		<input type="hidden" name="currency_code" value="CHF">
		<input type="hidden" name="bn" value="PP-DonationsBF:btn_donateCC_LG.gif:NonHostedGuest">
	</form>
  </body>
</html>
