html, body {
  overflow: hidden;
}

.container, #dialog {
	width: 760px;
  overflow: hidden;
  margin: 0 auto;
	height: 570px;
	position: relative;	
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;	
}

/*Modal Dialog*/
#dialog {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.2);
  z-index: 99;
  position: fixed;
  top: 0px;
  display: none;
}

#dialog-inner {
  font-size: 16px;
  line-height: 1.2em;
  text-align: center;
  padding: 10px;
  border: 1px solid #888888;
  background-color: white;
  width: 500px;
  max-height: 500px;
  margin: 20px auto;
  overflow-y: auto;
}

/*text formatting*/
.text {
  text-align: left;
  font-size: 100%;
  font-weight: normal;
}

.text p, .text ul, .text ol {
  padding-bottom: 20px;
}

.text ul {
  padding-left: 20px;
  list-style: disc outside none;
}

.text ol {
  list-style: decimal inside none;
}


.text h1 {
  font-weight: bold;
  font-size: 1.3em;
  padding-bottom: 20px;
}

.text h2 {
  font-weight: bold;
  padding-bottom: 10px;
  font-size: 1.1em;
}



input.placeholder {
  color: #aaa;
}

strong {
  font-weight: bold;
}

/* Google Map bubble */
.bubble {
  min-height: 100px;
  line-height: 1.2em;
  font-size: 13px;
  width: 350px;
}

.bubble .info {
  padding-top: 5px;
  font-size: 12px;
}

.share {
    display: block;
    height: 38px;
    width: 99px;

    overflow: hidden;
    position: absolute;
    text-indent: -100px;
}

.container.s01 {
	background: #ffed00 url(https://s3-eu-west-1.amazonaws.com/b4a/01.png) no-repeat 50% 0;
}

.container.s01 .share{
    top: 16px;
   	left: 645px;
}

.container.s01 input {
	background: none repeat scroll 0 0 transparent;
	border: 0 none;
	font-size: 24px;
	height: 30px;
	left: 298px;
	line-height: 30px;
	position: absolute;
	top: 438px;
	width: 140px;		
}

.container.s01 button {
	background: none repeat scroll 0 0 transparent;
	border: 0 none;
	height: 32px;
	left: 442px;
	line-height: 400px;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	top: 440px;
	width: 78px;		
}

.container.s02 {
	background: #ffed00 url(https://s3-eu-west-1.amazonaws.com/b4a/02.png) no-repeat 50% 0;
}

a#goto_3 {
	bottom: 30px;
	height: 36px;
	position: absolute;
	right: 69px;
	width: 127px;
}

.container.s03 {
	background: #ffed00 url(https://s3-eu-west-1.amazonaws.com/b4a/03.jpg) no-repeat 50% 0;
}

.container.s03 a{
	bottom: 30px;
	height: 36px;
	position: absolute;
	right: 69px;
	width: 127px;
}

.container.s04 {
	background: #ffed00;
	padding-bottom: 18px;
	height: 100%;
}

.container.s04 #header{
	background: #ffed00 url(https://s3-eu-west-1.amazonaws.com/b4a/04_header.png) no-repeat 50% 0;
	width:760px;
	height:182px;
}

.container.s04 #middle{
	padding:0 45px;
}

.container.s04 #top-left{
	margin-left:109px;
	float:left;
}

.container.s04 #top-right{
	float: left;
	margin: 26px 0 0 20px;
}

.container.s04 #top-right #inputdonationvalue{
	background: none repeat scroll 0 0 #FFED00;
	border: 2px solid #010101;
	color: #F07D00;
	font-size: 15px;
	font-weight: bold;
	margin: 2px 0 0;
	padding: 4px 12px 3px;
	vertical-align: top;
	width: 124px;
}

.container.s04 #top-right #bike{
	margin-left: 10px;
	position: absolute;
	top: 259px;
}

.container.s04 .breakline{
	background: url("https://s3-eu-west-1.amazonaws.com/b4a/04_line.png") no-repeat scroll 50% 0 transparent;
	height: 7px;
	margin: 37px 0 32px;
	width: 760px;
}

.container.s04 #footer{
	background: none repeat scroll 0 0 #FFFFFF;
	height: 102px;
	margin: 0 61px;
	padding: 0 26px;
	width: 587px;
}

.container.s04 #footer #footerleft{
	display: block;
	float: left;
	font-size: 13px;
	line-height: 102px;
	vertical-align: middle;
}

.container.s04 #footer form{
	float: right;
	margin-top: 31px;
	vertical-align: middle;
}

.container.s04 #confirmationform{
	padding: 0 42px 0 48px;
}

.container.s04 ::-webkit-input-placeholder  { color: #F07D00; }
.container.s04 ::input:-moz-placeholder { color:#F07D00; }

.container.s04 #confirmationform input[type=text]{
	background: none repeat scroll 0 0 #FFED00;
	border: 2px solid #010101;
	color: #F07D00;
	float: left;
	font-size: 15px;
	font-style: italic;
	font-weight: bold;
	margin: 0 15px 20px;
	padding: 7px 7px 6px;
	vertical-align: top;
	width: 287px;
}

.container.s04 #confirmationform input[type=text]#email{
	float: none;
}

.container.s04 #confirmationform #agreelabel{
	display: inline-block;
	font-size: 15px;
	font-weight: normal;
	line-height: 17px;
	margin: 6px 0 0;
}

.container.s04 #confirmationform #agreelabel .holderWrap{
	margin: 1px 4px 0 36px;
}

.container.s04 #confirmationid .breakline{
	margin: 33px 0;
}

.container.s04 #confirmationid{
	display:none;
}

.container.s04 #info {
  margin-top: 20px;
  margin-left: 205px;
  cursor: pointer;
}

.container.s04 #info p{
  float: left;
  font-size: 13px;
  padding: 10px;
}

label.radio span.holder, label.checkbox span.holder {
	height: 17px; /* Total height of your radio buttons image */
	background: url(../radio.png) no-repeat; /* Path to your radio button image */
}

label.checkbox:hover span.holder,
label.radio:hover span.holder { background: url(../radio_hover.png) no-repeat !important;  } /* Background position on mouseover */

label.checked span.holder,
label.checked span.holder,
label.checked:hover span.holder,
label.checked:hover span.holder { background: url(../radio_check.png) no-repeat !important;  } /* Background position when checked */



label.list {
	font-size: 22px;
	font-weight: bold;
	line-height: 34px;
	margin: 0;
}
label.list#confirmationlabel {
	font-size: 15px;
	font-weight: normal;
	line-height: 37px;
	margin: 0;
}

label.inline {
	float: left; margin: 0 10px 0 0;
}
	
input.hiddenCheckbox {
	position: absolute; left: -10000px; /* Hide the input */
}

label.prettyCheckbox span.holderWrap {
	display: block;
	float: left;
	margin-right: 7px;
	margin-top: 8px;
	overflow: hidden;
	position: relative;
}

label.prettyCheckbox span.holder {
	display: block;
	position: absolute;
	top: 0; left: 0;
}

.container.s05 {
	background: #ffed00 url(https://s3-eu-west-1.amazonaws.com/b4a/05.jpg) no-repeat 50% 0;
}

.container.s05 .share{
	left: 334px;
	top: 397px;
}

#map_container {
    position: absolute;
    left: 25px;
    top: 187px;
}

.finder #map_container {
  position: relative;
  left: 0px;
  top: 0px;
}

.s02 form {
    left: 30px;
    position: absolute;
    top: 160px;
}

.finder form {
  position: relative;
  margin: 10px 0px 10px 5px;
}

.finder form input {
  font-size: 14px;
  line-height: 20px;
  height: 20px;
  width: 300px;
}

.finder form button {
  font-size: 14px;
  line-height: 20px;
  margin-left: 10px;
}

#map_container #sidebar {
	overflow: auto;
  overflow-x: hidden;
	height: 283px; 
	font-size: 12px;
  list-style: none outside none;
  padding: 0;
}

#map_container #sidebar li {
  margin-bottom: 10px;
	cursor: pointer;
}

#map_container #sidebar li:hover {
	background-color: #e0e0e0;
} 

#map_container #sidebar li strong {
	display: block;
}

#map_container #map {
	float: left;
	margin-left: 2px;
	overflow: hidden; 
	width: 500px;
	height: 283px;
}

.finder #map_container #map {
  width: 550px;
}

#locations_list {
	width: 195px;
	float: left;
	margin-left: 7px;
}
